:root{
    --spacing-xs: clamp(0.375rem, 1vw, 0.5rem);
    --spacing-sm: clamp(0.625rem, 1.5vw, 0.875rem);
    --spacing-md: clamp(0.875rem, 2vw, 1.25rem);
    --spacing-lg: clamp(1.25rem, 3vw, 2rem);
    --spacing-xl: clamp(1.75rem, 4vw, 3rem);

    --container-max: 1280px;
    
}

.container{
    padding: var(--spacing-md) var(--spacing-sm);
    width: 100%;
    max-width: var(--container-max);
    margin-inline: auto;
    box-sizing: border-box;
    overflow: hidden;
}

@media (min-width: 600px) {
    .container{
        padding: var(--spacing-lg) var(--spacing-md);
    }
}

@media (min-width: 1024px) {
    .container{
        padding: var(--spacing-xl) var(--spacing-lg);
    }
}

@media(min-width: 1440px) {
    .container{
        padding: var(--spacing-xl) var(--spacing-xl);
    }
}

@media(prefers-reduced-motion: reduce) {
    .container *{
        transition: none !important;
        animation: none !important;
    }
}
